In [62]:
# Import findspark 
import findspark

findspark.init()

from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [63]:
spark = SparkSession.builder.getOrCreate()

In [64]:
rdd = spark.sparkContext.textFile("datasources/consumo_petroleo_2020.csv").filter(lambda x: x.split(',')[0] != 'REGIAO')
df = spark.read \
       .option("sep", ",") \
       .option("header", True) \
       .option("inferSchema", True) \
       .csv("datasources/consumo_petroleo_2020.csv")

In [65]:
df.REGIAO

Column<'REGIAO'>

In [66]:
df = df.withColumn("new_column", (df.CONSUMO + df.CONSUMO_DECIMAL)/2)

In [69]:
df.filter("REGIAO = 'America do Norte' AND PAIS = 'Canada'").collect()

[Row(REGIAO='America do Norte', PAIS='Canada', CONSUMO=2332, CONSUMO_DECIMAL=643509, ANO=2010, new_column=322920.5),
 Row(REGIAO='America do Norte', PAIS='Canada', CONSUMO=2396, CONSUMO_DECIMAL=54876, ANO=2011, new_column=28636.0),
 Row(REGIAO='America do Norte', PAIS='Canada', CONSUMO=2329, CONSUMO_DECIMAL=517932, ANO=2012, new_column=260130.5),
 Row(REGIAO='America do Norte', PAIS='Canada', CONSUMO=2345, CONSUMO_DECIMAL=336638, ANO=2013, new_column=169491.5),
 Row(REGIAO='America do Norte', PAIS='Canada', CONSUMO=2386, CONSUMO_DECIMAL=792135, ANO=2014, new_column=397260.5),
 Row(REGIAO='America do Norte', PAIS='Canada', CONSUMO=2346, CONSUMO_DECIMAL=753193, ANO=2015, new_column=377769.5),
 Row(REGIAO='America do Norte', PAIS='Canada', CONSUMO=2393, CONSUMO_DECIMAL=32596, ANO=2016, new_column=17494.5),
 Row(REGIAO='America do Norte', PAIS='Canada', CONSUMO=2393, CONSUMO_DECIMAL=7348, ANO=2017, new_column=4870.5),
 Row(REGIAO='America do Norte', PAIS='Canada', CONSUMO=2443, CONSUMO_DECIMAL=311147, ANO=2018, new_column=156795.0),
 Row(REGIAO='America do Norte', PAIS='Canada', CONSUMO=2402, CONSUMO_DECIMAL=541314, ANO=2019, new_column=271858.0)]

In [73]:
df.groupBy("PAIS").avg().toPandas()

          PAIS  avg(CONSUMO)  avg(CONSUMO_DECIMAL)  avg(ANO)  avg(new_column)
0   Luxemburgo          57.0            48485320.2    2014.5      24242688.60
1       Russia        3165.1              578840.9    2014.5        291003.00
2     Marrocos         277.1             5102785.0    2014.5       2551531.05
3    Cingapura        1297.9              532948.9    2014.5        267123.40
4      Belgica         667.8             4198617.5    2014.5       2099642.65
..         ...           ...                   ...       ...              ...
80       Suica         226.8             4283310.9    2014.5       2141768.85
81      Suecia         289.3             5027965.6    2014.5       2514127.45
82     Ucrania         231.7             3517153.4    2014.5       1758692.55
83     Malasia         780.0             5248215.3    2014.5       2624497.65
84     Argelia         394.4             5421275.0    2014.5       2710834.70

[85 rows x 5 columns]

In [16]:
#words = spark.sparkContext.parallelize(inputData) \
#                          .flatMap(lambda value: value.split(" ")) \
#                          .filter(lambda word: len(word) > 1)
#type(words)

In [17]:
#rdd2 = rdd.map(lambda x: (x.split(',')[0], x.split(',')[1])) \
#          .map(lambda x: (x[0], x[1])) \
#          .reduceByKey(lambda x, y: x+y)

In [18]:
#rdd2.collect()

In [7]:
import pandas as pd
pd.read_csv("datasources/consumo_petroleo_2020.csv")

                        REGIAO            PAIS  CONSUMO  CONSUMO_DECIMAL   ANO
0             America do Norte          Canada     2332           643509  2010
1             America do Norte  Estados Unidos    18324            38372  2010
2             America do Norte          Mexico     2039           738801  2010
3    Americas Central e do Sul       Argentina      581          8054948  2010
4    Americas Central e do Sul          Brasil     2271            41358  2010
..                         ...             ...      ...              ...   ...
885              Asia-Pacifico       Sri Lanka      122          6157392  2019
886              Asia-Pacifico       Tailandia     1453             2886  2019
887              Asia-Pacifico          Taiwan      998           102776  2019
888              Asia-Pacifico          Vietna      528          4574961  2019
889              Asia-Pacifico          Outros      506          3716179  2019

[890 rows x 5 columns]